<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-around center">
  <button mat-button (click)="toggleDrawer()">
    <mat-icon matListIcon>view_headline</mat-icon>
  </button>
  <h3 [style]="titleColor"> {{title}}</h3>
  <app-exchange-rate [rates]="rates"></app-exchange-rate>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>

  <div class="cart">
    <mat-icon (click)="isOpen = true"
              [matBadge]="totalCount$ | async" matBadgeColor="warn"
    >shopping_cart
    </mat-icon>
    <app-cart [ngClass]="{closed: !isOpen}"></app-cart>
  </div>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Log out</span>
    </button>
  </mat-menu>
</mat-toolbar>
